<div class="modal-dialog" role="document">
<div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Confirm Return</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to return {{ object.book.title }}?</p>
      </div>
      <div class="modal-footer">
      <form method="post" action="{% url 'books:return' object.code %}">
          {% csrf_token %}
        <button type="submit" class="btn btn-danger" style="float: left">Yes</button>
      </form>
        <button type="button" class="btn btn-secondary btn-light" data-dismiss="modal">Close</button>
      </div>
</div>
</div>